<div class="container-fluid">

	<div id="listContainer" class="col-xs-3">
		<div class="searchArea">
			<ng-form>
				<input ng-model="query" places-auto-complete types="['geocode']" on-place-changed="getLocation(place)" style="display:block; float:left">

				<select ng-model="distance"  ng-change="changeRadius()" style="display:block; float:left">
						<option ng-repeat="distance in searchForm.distances" value="{{distance}}">{{distance}} ft.</option>
				</select>

				<input type="submit" ng-click="queueSearch(query,distance)" style="display:block; float:left">
			</ng-form>
		</div>
		<div style="background-color: white; height: 90%">
		{{currentResults.locations || ""}}
		<div ng-repeat="result in currentResults.parkingListing"></div>
		</div>
	</div>

	<ng-map class="col-xs-9 no-pad"
		zoom="13" 
		center= "{{mapData.center}}"
		style="height: 100%">


		<shape name="circle" id="circle" 
			centered="true"
			radius="{{mapData.circle.radius}}" 
			center="{{mapData.circle.center}}" 
			stroke-color="{{mapData.circle.strokeColor}}" 
			stroke-opacity="{{mapData.circle.strokeOpacity" 
			fill-color="{{mapData.circle.fillColor}}" 
			fill-opacity="{{mapData.circle.fillOpacity}}">
		</shape>

		<control name="overviewMap" opened="true"></control>

		<marker ng-repeat="target in mapData.targetLocation" 
			position="{{target.position}}" 
			animation="{{target.animation}}"
			draggable="{{target.draggable}}">
		</marker>

		<marker ng-repeat="marker in mapData.markers" 
			position="{{marker.position}}" 
			animation="{{marker.animation}}"
			draggable="{{marker.draggable}}">
		</marker>


	</ng-map>


</div>