html{
    height: 100%;
    min-width: 1000px;
    min-height: 500px;
}
body {
    font-size: 16px;
    background: black;
    margin:0;
    padding:0;
    height:100%;
    padding-bottom:60px;
}

.navbar {
    border-radius: 0;
    margin: 0;
    padding-bottom: 1em;
}

.container-fluid {
	margin: 0 8%;
}

#header{
    margin-bottom: 0px;
    min-width: 900px;
    padding-bottom: 0px;
}

#header > div > ul {
    padding-top: 22px;
}

.navbar-brand{
    font-size: 35px;
    padding: 0;
    height: 100%;
}

#homeButton{
    color: white;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#loginButton{
    color: white;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#navbar{
    color: white;
}

#Logo {
	height: 43.5px;
}

#footer{
    color: white;
    text-align: center;
    height:60px;   /* Height of the footer */
    width: 100%;
    position:absolute;
    bottom:0;
}

#content {
    padding-top: 15px;
    padding-bottom:75px;   /* Height of the footer */
    height: 100%;
}

.wrapper {
    height: 100%;
}

body > div > div.ng-scope {
    height: 100%;
}

body > div > div.ng-scope > div {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    padding-right: 0px;
}

.searchArea {
    height: 10%;
}

#listContainer > div.searchArea > ng-form * {
    height: 30px;
}

#listContainer > div.searchArea > ng-form > select {
    height: 30px;
}

#listContainer {
    border: 1px solid blue;
    background-color: grey;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
}

.green {
    background-color: green;

}
